@import "reset.css";
/* Styles */

/* Base */
body {
    padding: 0 50px;
}
.page-wrapper {
    min-height: 100dvh;
}

.card {
    max-height: 300px;
    max-width: 250px;
}
ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* Tab items active */
.display {
    display: block;
}

.hidden {
    display: none;
}

.active {
    border: 1px solid gray;
}
