@import "reset.css";
/* Styles */

/* Base */
body {
    padding: 0 50px;
    background-color: #e6d5b8;
}
.page-wrapper {
    min-height: 100dvh;
}

.card {
    max-height: 300px;
    max-width: 250px;
}
nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.accordion {
    list-style: none;
    padding: 0;
    max-width: 300px;
    margin: 0 auto;
}

.accordion li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.accordion li:hover {
    background-color: #ddd;
}

/* .accordion ul {
    display: none;
    padding-left: 20px;
    list-style: none;
    margin: 0;
} */

/* Tab items active */
.display {
    display: flex;
    flex-direction: column;
}
.default {
    display: block;
}

.hidden {
    display: none;
}

.active {
    border: 1px solid rgb(128, 128, 128);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the search bar to the right */
}

.search-bar input {
    margin-right: 10px; /* Add some space between input and button */
}

/* Button style */

/* Accordion style */
.accordion-wrapper {
    & div {
        background-color: gray;
    }
}

.icon-btn {
    cursor: pointer;
}
