@import "reset.css";
/* Styles */

/* Base */
body {
    padding: 0 50px;
    background-color: #e6d5b8;
}
.page-wrapper {
    min-height: 100dvh;
}
.container {
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: transparent;
}

/*items active */
.display {
    display: flex;
    flex-direction: column;
}
.default {
    display: block;
}

.hidden {
    display: none;
}

.active {
    border: 1px solid rgb(128, 128, 128);
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the search bar to the right */
}

.search-bar input {
    margin-right: 10px; /* Add some space between input and button */
}

/* Nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab {
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* Accordion style */
.accordion-wrapper {
    & div {
        background-color: transparent;
        align-items: center;
        gap: 12px;
    }
    & img {
        width: 25px;
        height: 25px;
    }
}

.icon-btn {
    cursor: pointer;
}

.accordion {
    list-style: none;
    padding: 0;
    width: 200px;
    margin: 0 auto;
}

.accordion li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.accordion li:hover {
    background-color: #ddd;
}

.accordion-content {
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}
.accordion-content.display {
    max-height: 500px; /* Set an appropriate value for max-height */
}

.hide-button {
    padding-left: 10px;
    padding-right: 10px;
}
/* Boxes */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 8px;
    font-weight: 800;
    color: #fff;
}